.row {
  /* flex-direction: column !important; */
  width: 930px;
  box-shadow: 2px 2px 15px rgba(var(--primary-color), 0.25);
}
.top_section {
  height: 220px;
  background-color: rgb(var(--primary-color));
  color: white;
  padding-top: 55px;

  .container p {
    font-family: "Noto serif", serif;
    width: 40%;
  }
}
.b-name a {
  color: white;
}

.contact_nav {
  background-color: rgb(var(--primary-color)) !important;
}
.navbar-nav .nav-item a {
  color: white;
}
.active_nav {
  color: yellow !important;
}
.form_banner {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  background-color: var(--secondary-white) !important;
}
.contact_form {
  margin: -50px 0 50px;
  .row {
    border: 1px solid rgb(var(--primary-color));
    background-color: white;
    z-index: 999;
    margin: 0 auto;
  }
}
.figure {
  font-size: 6rem;
  height: 50%;
}
.figure i {
  color: rgb(var(--primary-color)) !important;
}
.form_data {
  padding: 25px 45px !important;
  .col-md {
    margin: 10px 0;
    .form-label {
      font-weight: 500;
    }
  }
  .submit_btn {
    background-color: rgb(var(--primary-color));
    border-color: rgb(var(--primary-color));
    padding: 6px 40px;
  }
  .submit_btn:hover {
    background-color: rgba(var(--primary-color), 0.9);
  }
}

.form-control:active,
.form-control:focus,
.form-control:focus-visible {
  box-shadow: 0 0 0 0.15rem rgba(var(--primary-color), 0.25) !important;
  border-color: rgba(var(--primary-color), 0.25) !important;
}
