/Resources/Event-Image/2023
/Resources/Event-Image/extra

# /Resources/NSS.docx
# /Resources/PH.pdf
/Resources/kshitiz kr - Cropped.jpg
/Resources/sample of team page.webp
/Resources/alumni_home.jpeg
