/Resources/Event-Image/2023/nss-foundation-day
/Resources/Event-Image/2023/photography-contest
/Resources/Event-Image/2023/quality-connect-by-BIS
/Resources/Event-Image/2023/satamave-jayate
/Resources/Event-Image/2023/shool-visit
/Resources/Event-Image/2023/solid-works
/Resources/Event-Image/2023/treasure-hunt
/Resources/Event-Image/2023/women-day
/Resources/Event-Image/2023/world-health-day
/Resources/Event-Image/2023/writing-competition-by-BIS
/Resources/Event-Image/2023/blood-donation-camp
/Resources/Event-Image/2023/blood-donation-with-kanahiya-society
/Resources/Event-Image/extra

# /Resources/NSS.docx
# /Resources/PH.pdf
/Resources/kshitiz kr - Cropped.jpg
/Resources/sample of team page.webp
/Resources/alumni_home.jpeg
/Resources/National Service Scheme.docx