/* GOOGLE FONTS  */
  @import url('https://fonts.googleapis.com/css2?family=Alice&family=Inter:wght@300;400;500;600&family=Kalam:wght@300;400&family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600&family=Noto+Serif:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Roboto+Slab:wght@300;400;500;600&family=Roboto:wght@300;400;500;700&display=swap');



  :root{
    --primary-color : #521E86;
    /* --secondary-color : #; */
    --white-color: #ffffff;
    --secondary-white: #EDEDED;
    --black-color: #000000;
    --black-light: #242424;
    --secondary-black: #343434;

  }
  
  
  
/*
font-family: 'Alice', serif;
font-family: 'Inter', sans-serif;
font-family: 'Kalam', cursive;
font-family: 'Noto Sans', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
  */

.doc-padding {
  padding-left: 100px !important;
  padding-right: 100px !important;
}
.nav-link {
  padding: 0 1.5rem !important;
}
.logo > img {
  width: 80px;
}
.b-name a:nth-child(1) {
  font-size: 1.2rem;
  font-family: "Kalam", cursive;
}
/* this is not working  */
.b-name a:nth-child(2) {
  font-size: 1.2rem;
  font-family: "Alice", serif;
}
.nav-item a {
  font-family: "Roboto Slab", serif;
}
.active{
    font-weight: 600 !important;
    color: var(--primary-color) !important;
}

/* SLIDER  */
.carousel-item > img{
    max-height: 550px;
}
.sec-spacing{
  padding: 80px;
}
.title{
  font-size: 28px;
  font-family: "Roboto Slab", serif;
  color: var(--black-light);
}
.desc{
  font-size: 16px;
  font-family: 'Noto Serif', serif;
  text-align: center;
  color: var(--black-light);
  margin: 7px 0;
  padding: 7px 0;
}
.highlight{
  color: var(--primary-color);
  text-decoration: underline;
}
.why > p{
  font-size: 16px;
  font-family: 'Noto Serif', serif;
  text-align: justify;
}
.title-dec-spacing{
  padding: 0 50px;
}

.statics{
  background-color: var(--secondary-white);
  display: grid;
  gap: 50px;
}
.card > img{
  overflow: auto;
}
.card-text{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
}
