.navbar {
  background-color: rgb(var(--primary-color));

  .navbar-brand {
    color: var(--white-color);
  }
  .nav-link {
    color: var(--white-color);
  }
}
.top_section {
  height: 220px;
  /* color: white; */
  padding-top: 55px;

  .container p {
    font-family: "Noto serif", serif;
    width: 40%;
  }
}
