.team,.faculty_advisor {
  margin-top: 3rem;
}
.team > h2 > span , .faculty_advisor h3 > span{
  border-bottom: 3px solid black;
}
.team > p {
  margin-top: 2rem;
  text-align: justify;
  width: 50%;
  font-family: "Noto serif", sans-serif;
}
.faculty_advisor{
    margin-bottom: 2rem;
}
.faculty_advisor .image1{
    width: 200px;
    /* height: 200px; */
}
.faculty_advisor .image1 img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}